/* color pallet: blue- #E1EEFF brown- #865439 lightbrown- #C68B59 darkblue- #506D84 */
@font-face{
	font-family: 'Taka';
	src: url('../font/Taka.otf');
		}
@font-face{
	font-family: 'Ant';
	src: url('../font/Ant.otf');
		}
 h1{
 	font-family: 'Ant', serif;
 	color:#865439;
 	font-size: 100px;
 	text-align: center;
	 }
h2{
	font-family: 'Taka', serif;
	font-size: 80px;
	}
h3 {
	font-family: 'Taka' , serif;
	font-size: 30px;
	padding-left: 20px;
	}
h4 {
	font-family: 'Taka', serif;
	font-size: 50px; 
	}
 body{
 	font-family: serif;
	background-color:#E1EEFF;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
 	}
 /* image proportions */
.img1{
	width:300px;
	height:300px;
	border-radius: 20px;
	}
.img2{
	width:400px;
	height:300px;
	border-radius: 20px;
	}
.img3{
	width:300px;
	height:300px;
	border-radius: 20px;
	}
.img4{
	width:300px;
	height:400px;
	border-radius: 20px;
	}
.bread{
	width:400px;
	height:400px;
	border-radius: 20px;
	}
.muffin{
	width:400px;
	height: 300px;
	border-radius: 20px;
	}
.cat{
    position: relative;
    flex: 1 1 200px;
    max-width: 300px;
    margin-bottom: 20px;
	}
/* navigation */
.wrapper, .row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.wrapper .item > div {
    flex: 1;
}

.wrapper .item a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.wrapper .item a:focus,
.wrapper .item a:active {
    outline: none;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

/* home images text */
.img-box {
    position: relative;
    flex: 1 1 200px;
    max-width: 400px;
    margin-bottom: 20px;
}

.img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.img-box span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    text-align: center;
    font-size: 25px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .img-box {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .img-box img {
        height: auto;
    }

    .img-box span {
        font-size: 16px;
    }
}
/* format for recipes */
.recipe-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.left-column {
    width: 45%;
}
.right-column {
    width: 45%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.bored{
    border: 5px solid #865439;
    padding: 20px;
    }