/* color pallet: blue- #E1EEFF brown- #865439 lightbrown- #C68B59 darkblue- #506D84 */
@font-face{
	font-family: 'Taka';
	src: url('../font/Taka.otf');
		}
@font-face{
	font-family: 'Ant';
	src: url('../font/Ant.otf');
		}
 h1{
 	font-family: 'Ant', serif;
 	color:#865439;
 	font-size: 100px;
 	text-align: center;
	 }
h2{
	font-family: 'Taka', serif;
	font-size: 80px;
	}
h3 {
	font-family: 'Taka' , serif;
	font-size: 30px;
	}
 body{
 	font-family: serif;
	background-color:#E1EEFF;
 	}

.img1{
	width:300px;
	height:300px;
	border-radius: 20px;
	}
.img2{
	width:400px;
	height:300px;
	border-radius: 20px;
	}
.img3{
	width:300px;
	height:300px;
	border-radius: 20px;
	}
.img4{
	width:300px;
	height:400px;
	border-radius: 20px;
	}
.bread{
	width:400px;
	height:400px;
	border-radius: 20px;
	}
.muffin{
	width:400px;
	height: 300px;
	border-radius: 20px;
	}
.wrapper{
	display: flex;
		}
.wrapper > div {
	flex: 1;
	}
.wrapper2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 100px;
	gap: 10px;
	}
/*.row{
display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/
